In [1]:
import pandas as pd
df = pd.read_csv("D://python//Spam.csv")

In [2]:
df.columns

Index(['Category', 'Message'], dtype='object')

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [5]:
df.shape

(5572, 2)

In [6]:
df.drop_duplicates(inplace = True)
df.shape

(5157, 2)

In [7]:
df['Category'].value_counts()

ham     4516
spam     641
Name: Category, dtype: int64

In [8]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4516   4516                             It took Mr owl 3 licks
spam         641    641  You are a winner you have been specially selec...


         freq
Category
ham         1
spam        1

In [9]:
#Convert Categorical data to Numerical Data
df['Spam'] = df['Category'].apply(lambda word:1 if word == 'spam' else 0)
df.head(10)

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0
5     spam  FreeMsg Hey there darling it's been 3 week's n...     1
6      ham  Even my brother is not like to speak with me. ...     0
7      ham  As per your request 'Melle Melle (Oru Minnamin...     0
8     spam  WINNER!! As a valued network customer you have...     1
9     spam  Had your mobile 11 months or more? U R entitle...     1

In [12]:
df.drop(['Category'],inplace= True,axis= 1)

In [13]:
df.head()

                                             Message  Spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

### Let's train-test-split to the Data_set

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.Message,df.Spam,test_size = 0.20)

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X_train_new = cv.fit_transform(X_train)

In [19]:
X_train_new.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### Apply ML algorithm

In [20]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_new,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [21]:
X_test_new = cv.transform(X_test)

In [22]:
X_test_new.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### Accuracy of the model

In [23]:
model.score(X_test_new,y_test)

0.9825581395348837

In [26]:
model.score(X_test_new,y_test) * 100

98.25581395348837

In [37]:
emails = ['I want to be a good Data scientist','WINNER!! As a valued customer you have...']

In [38]:
cv_emails = cv.transform(emails)

In [39]:
model.predict(cv_emails)

array([0, 1], dtype=int64)